.iconsContainer {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  padding-bottom: 6rem;
  // border: 1px solid red;

  @media screen and (min-height: 969px) {
    padding-bottom: 23rem;
  }
  @media screen and (min-height: 950px) and (max-height: 970px) {
    padding-bottom: 18rem;
  }
  @media screen and (min-height: 800px) and (max-height: 951px) {
    padding-bottom: 14rem;
  }

  @media screen and (min-height: 750px) and (max-height: 801px) {
    padding-bottom: 5rem;
  }

  @media screen and (min-height: 650px) and (max-height: 751px) {
    padding-bottom: 9rem;
  }

  @media (min-width: 1600px) and (max-width: 1901px) {
    transform: scale(0.95);
    transform-origin: left;
  }

  @media (min-width: 1350px) and (max-width: 1601px) {
    transform: scale(0.87);
    transform-origin: left;
  }

  @media (min-width: 1000px) and (max-width: 1351px) {
    transform: scale(0.65);
    transform-origin: left;
  }
}

.icon {
  & path {
    fill: var(--color-icons1);
    transition: all 0.2s;
  }
  &:hover {
    cursor: pointer;
    & path {
      fill: var(--color-accent-1);
    }
  }

  &.mail {
    & path {
      fill-opacity: 1;
    }
    & circle {
      fill-opacity: 0;
      fill: var(--color-icons1);
    }
  }
}

// this is needed just to add a tooltip so user knows that VPN is needed for Linked in
// cause without VPN the link will not work

.iconLinked {
  position: relative;
  & path {
    fill: var(--color-icons1);
    transition: all 0.2s;
  }
  &:hover {
    cursor: pointer;
    & path {
      fill: var(--color-accent-1);
    }
    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &::after {
    font-size: 1.6rem;
    visibility: hidden;
    text-align: center;
    padding: 1rem;
    content: 'VPN is required in Russia';
    width: 20rem;
    height: 3.6rem;
    position: absolute;
    inset: 0;
    top: -80%;
    left: 0;
    opacity: 0;
    border-radius: 1rem;
    color: var(--color-icon-popup-text);
    background-color: var(--color-light-text);
    box-shadow: 0 0.1rem 5rem hsla(0, 0%, 0%, 0.246);
  }
}
