.projectCard {
  margin: 5rem 0;
  background-color: var(--color-prCard-light);
  display: flex;
  flex-direction: row;
  gap: 6rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 3rem hsla(0, 0%, 0%, 0.2);
  padding: 3rem 2rem;
  transition: all 0.3s;
  position: relative;

  .imageContainer {
    display: block;
    width: 30%;
    height: auto;
    overflow: hidden;

    .image {
      transition: all 1.3s;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../../Assets/img/draftMonitor.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &:hover {
    transform: translateX(4rem);

    & .image {
      transform: scale(1.1);
    }
  }
}

.content {
}

.projectName {
  font-weight: 300;
  color: var(--color-light-text);
  font-size: 5rem;
}

.listsContainer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 13rem;
}

.technologyStack,
.mainFeatures {
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.3rem;
  color: var(--color-light-text);
}

.list {
  padding-left: 3rem;
  padding-top: 1rem;
}

.btnContainer {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
