@mixin shrinkLabel {
  font-size: 1.6rem;
  transform: translateY(-230%);
}

@mixin shrinkLabelMessage {
  font-size: 1.6rem;
  //   left: 0;
  //   top: 0;
  transform: translate(-378%, -1350%);
}

.contactForm {
  width: 70%;
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
  //   box-shadow: 0.2rem 1rem 1rem hsla(0, 0%, 0%, 0.26);
  box-shadow: 0 0.3rem 2rem hsla(0, 0%, 0%, 0.253);

  .formContainer {
    width: 100%;
    margin: auto;
  }

  .formGroup {
    position: relative;
    // border: 1px solid red;
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  input {
    width: 100%;
    color: var(--color-light-text);
    font-weight: 300;
    font-family: inherit;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.7rem;
    border: none;
    &:focus {
      outline: none;
    }
    &:focus ~ .labelEmail {
      @include shrinkLabel;
    }
  }

  textarea {
    resize: none;
    min-height: 25rem;
    width: 100%;
    color: var(--color-light-text);
    font-weight: 300;
    font-family: inherit;
    padding: 0.6rem;
    font-size: 1.6rem;
    border-radius: 0.7rem;
    border: none;
    &:focus {
      outline: none;
    }

    &:focus ~ .labelTextArea {
      @include shrinkLabelMessage;
    }
  }

  .labelTextArea {
    transition: all 0.2s;
    font-size: 2rem;
    color: var(--color-light-text);
    font-weight: 300;
    position: absolute;
    bottom: 0%;
    right: 5%;
    transform: translateY(-50%);

    &.shrinked {
      @include shrinkLabelMessage;
    }
  }

  .labelEmail {
    transition: all 0.2s;
    font-size: 2rem;
    color: var(--color-light-text);
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);

    &.shrinked {
      @include shrinkLabel;
    }
  }

  .btn {
    display: block;
    width: 9rem;
    text-align: center;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    padding: 1rem;
    background-color: var(--color-accent-1);
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.212);
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      transform: translateY(0.3rem);
      box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.109);
    }

    &:active {
      transform: translateY(0.5rem);
      box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.109);
    }
  }
}
