.iconsContainer {
  display: grid;
  grid-template-areas:
    'a b'
    'c d'
    'e e';
  gap: 1rem;
  align-items: center;
}

.icon {
  width: 4rem;
}

.JS {
  grid-area: a;
  justify-self: center;
}
.TS {
  grid-area: b;
  justify-self: center;
}
.SASS {
  grid-area: c;
  justify-self: center;
}
.HTML {
  grid-area: d;
  justify-self: center;
}
.CSS {
  grid-area: e;
  align-self: end;
  justify-self: center;
}
