:root {
  /* Here go my colours */
  /* This is the first version of grey color - kinda light and not so contrasty */
  /* --color-grey-1: hsl(0, 0%, 64%); */
  /* This is the second version of grey color - passes the contrast check */
  --color-grey-1: hsl(0, 0%, 46%);
  /* --color-black-1: hsl(0, 0%, 25%); */
  --color-black-2: hsl(0, 0%, 0%);
  --color-accent-1: hsl(32, 55%, 52%);
  --color-white-1: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffffff 0%, #dadada 100%);
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  /* to set 1rem=10px */
  font-size: 62.5%;
}

/* for future */
/* ::selection {
  background-color: black;
  color: white;
} */
