:root {
  --primary-color: hsl(152, 35%, 51%);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffffff 0%, #dadada 100%);
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  /* to set 1rem=10px */
  font-size: 62.5%;
}

/* for future */
/* ::selection {
  background-color: black;
  color: white;
} */
