.educationContainer {
  width: 100%;
  background-color: var(--color-aboutCard-light);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.267);
  border-radius: 3rem;
  padding: 2rem 0rem;
  color: var(--color-aboutCard-light-text);
  font-size: 1.6rem;
  // border: 1px solid red;
  /* medias for 2k displays */

  @media (min-width: 150px) and (max-width: 1001px) and (min-height: 1000px) {
    padding: 1rem 0rem;
  }

  /* medias for 1080p displays */
  @media (min-width: 1900px) and (min-height: 700px) and (max-height: 1001px) {
    width: 80%;
    position: relative;
    right: -10%;
  }

  @media (min-width: 1350px) and (max-width: 1601px) and (min-height: 700px) and (max-height: 1001px) {
    width: 70%;
    position: relative;
    right: -15%;
  }

  @media (min-width: 1000px) and (max-width: 1351px) and (min-height: 700px) and (max-height: 1001px) {
    width: 80%;
    position: relative;
    right: -10%;
  }

  h2 {
    color: var(--color-aboutCard-light-text);
    font-size: 2rem;
    margin-bottom: 1.2rem;
    transform: translateX(-1.9rem);
  }
}

.section {
  // border: 1px solid red;
  padding: 2rem 7rem;
  width: 100%;
  display: block;

  a:link,
  a:visited,
  a:active {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-aboutCard-light-text);
  }

  @media (min-width: 150px) and (max-width: 1001px) and (min-height: 1000px) {
    padding: 1rem 3rem;
  }

  &.sectionDark {
    background-color: var(--color-aboutCard-dark);
    color: var(--color-white-1);

    h2 {
      color: var(--color-white-1);
    }
  }
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
  // border: 2px solid blue;

  @media (min-width: 150px) and (max-width: 1901px) {
    gap: 0.2rem;
  }

  .rowText {
    width: 70%;

    // medias for 2k displays
    @media (min-width: 150px) and (max-width: 1001px) and (min-height: 1000px) {
      width: 100%;
    }

    // medias for 1080p displays
    @media (min-width: 150px) and (max-width: 1001px) and (min-height: 700px) and (max-height: 1001px) {
      width: 100%;
    }
  }
}

.mtMid {
  margin-top: 3rem;
}

.icons {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 0;
  // align-items: center;
  // border: 1px solid green;

  // medias for 2k displays
  @media (min-width: 150px) and (max-width: 1001px) and (min-height: 1000px) {
    display: none;
  }
  // medias for 1080p displays
  @media (min-width: 150px) and (max-width: 1001px) and (min-height: 700px) and (max-height: 1001px) {
    display: none;
  }

  .MPEILogo {
    position: relative;
    left: 20%;
    background-image: url('../../Assets/img/AboutMePageImages/MPEI.png');
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .MPEILogo2 {
    left: 20%;
    position: relative;
    // border: 1px solid blue;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../Assets/img/AboutMePageImages/MPEI2_L.png');
    background-size: contain;
  }

  .MSULogo {
    left: 20%;
    position: relative;
    min-height: 7rem;
    // border: 1px solid green;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../Assets/img/AboutMePageImages/msu.png');
  }

  .UdemyLogo {
    position: relative;
    left: 20%;
    top: 5%;
  }
}
