.homepage {
  position: relative;
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 6rem);
  // border: 1px solid red;
  display: flex;
  align-items: center;

  @media (min-width: 150px) and (max-width: 1901px) {
    width: 90%;
  }
}

.textContentContainer {
  width: 100%;
  min-height: calc(100vh - 6rem);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10rem;
}

.bg {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  z-index: -1;
  width: 100%;
  min-height: calc(100vh - 6rem);
  background-image: url('../../Assets/img/HomePage/HomePageImage2k.png');

  // @media (min-width: 1350px) and (max-width: 1901px) {
  //   background-image: url('../../Assets/img/HomePage/HomePageImage1080p.png');
  // }
}

.primaryHeading {
  position: relative;
  color: var(--color-H1);
  font-size: 10rem;
  font-weight: 200;
  line-height: 103%;
  padding-top: 20rem;
  margin-bottom: 3rem;

  // lets add a shine effect
  background-color: var(--color-H1);
  background-size: 200%, 100%;
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.85) 5%,
    rgba(255, 255, 255, 0.85) 6%,
    transparent 6%,
    transparent 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2.3s;
  animation: shining 9s ease-in-out infinite;
  @keyframes shining {
    0% {
      background-position: 0 0;
    }
    10% {
      background-position: 0 0;
    }
    26% {
      background-position: -120% 0;
    }

    100% {
      background-position: -120% 0;
    }
  }
}

.paragraph {
  color: var(--color-dark-text);
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.featuresList {
  list-style: none;
  color: var(--color-dark-text);
  font-size: 2.4rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
}

.feature {
  padding: 0 3rem 0 1.5rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-accent-1);
  }
}

.projectsBtn,
.projectsBtn:link,
.projectsBtn:visited {
  margin: 7rem 0 0rem 0;
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
  background-color: var(--color-accent-1);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 2rem hsla(0, 0%, 0%, 0.157);

  display: inline-block;
  transition: all 0.2s;
}

.projectsBtn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 2rem hsla(0, 0%, 0%, 0.342);
}

.projectsBtn:active {
  transform: translateY(0%);
  box-shadow: 0 0.3rem 2rem hsla(0, 0%, 0%, 0.157);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// medias for 2k displays

@media (min-width: 1600px) and (max-width: 1901px) and (min-height: 1000px) {
  .bg {
    background-position: 55% 100%;
  }
}

@media (min-width: 1000px) and (max-width: 1601px) and (min-height: 1000px) {
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-1) 0%,
        var(--color-home-gradient-2) 40%,
        var(--color-home-gradient-3) 45%,
        var(--color-home-gradient-4) 50%,
        var(--color-home-gradient-5) 100%
      ),
      url('../../Assets/img/HomePage/HomePageImage2k.png');
  }
}

@media (max-width: 1001px) and (min-height: 1000px) {
  .textContentContainer {
    align-items: center;
    margin: auto;
  }
  .primaryHeading {
    font-size: 9rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-simple),
        var(--color-home-gradient-simple)
      ),
      url('../../Assets/img/HomePage/HomePageImage2k.png');
    background-position: 95% 100%;
  }
}

@media (min-width: 150px) and (max-width: 650px) and (min-height: 1000px) {
  .homepage {
    min-height: calc(100vh - 10rem);
  }
  .textContentContainer {
    min-height: calc(100vh - 10rem);
  }
  .primaryHeading {
    font-size: 9rem;
  }

  .bg {
    min-height: calc(100vh - 10rem);
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// medias for 1080p displays

@media (min-width: 190px) and (min-height: 700px) and (max-height: 1001px) {
  .bg {
    background-image: url('../../Assets/img/HomePage/HomePageImage1080p.png');
  }
}

@media (min-width: 1600px) and (max-width: 1901px) and (min-height: 700px) and (max-height: 1001px) {
  .bg {
    background-position: 50% 100%;
    background-image: url('../../Assets/img/HomePage/HomePageImage1080p.png');
  }
}

@media (min-width: 1350px) and (max-width: 1601px) and (min-height: 700px) and (max-height: 1001px) {
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-1) 0%,
        var(--color-home-gradient-2) 40%,
        var(--color-home-gradient-3) 45%,
        var(--color-home-gradient-4) 50%,
        var(--color-home-gradient-5) 100%
      ),
      url('../../Assets/img/HomePage/HomePageImage1080p.png');
  }
}

@media (min-width: 1000px) and (max-width: 1351px) and (min-height: 700px) and (max-height: 1001px) {
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-1) 0%,
        var(--color-home-gradient-2) 40%,
        var(--color-home-gradient-3) 45%,
        var(--color-home-gradient-4) 50%,
        var(--color-home-gradient-5) 100%
      ),
      url('../../Assets/img/HomePage/HomePageImage1080p.png');
  }
}

@media (min-width: 649px) and (max-width: 1001px) and (min-height: 700px) and (max-height: 1001px) {
  .textContentContainer {
    align-items: center;
    margin: auto;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-simple),
        var(--color-home-gradient-simple)
      ),
      url('../../Assets/img/HomePage/HomePageImage1080p.png');
    background-position: 95% 100%;
  }
  .primaryHeading {
    font-size: 9rem;
  }
}

@media (min-width: 150px) and (max-width: 650px) and (min-height: 700px) and (max-height: 1001px) {
  .homepage {
    min-height: calc(100vh - 10rem);
  }

  .textContentContainer {
    min-height: calc(100vh - 10rem);
    align-items: center;
    margin: auto;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bg {
    min-height: calc(100vh - 10rem);
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-simple),
        var(--color-home-gradient-simple)
      ),
      url('../../Assets/img/HomePage/HomePageImage1080p.png');
    background-position: 95% 100%;
  }
  .primaryHeading {
    font-size: 9rem;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// medias for 720p displays

@media (min-width: 1350px) and (max-width: 1601px) and (max-height: 701px) {
  .primaryHeading {
    padding-top: 7rem;
  }
  .bg {
    background-image: url('../../Assets/img/HomePage/HomePageImage720p.png');
  }

  .textContentContainer {
    gap: 8rem;
  }
}

@media (min-width: 1000px) and (max-width: 1351px) and (max-height: 701px) {
  .primaryHeading {
    padding-top: 10rem;
  }
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-1) 0%,
        var(--color-home-gradient-2) 40%,
        var(--color-home-gradient-3) 45%,
        var(--color-home-gradient-4) 50%,
        var(--color-home-gradient-5) 100%
      ),
      url('../../Assets/img/HomePage/HomePageImage720p.png');
  }
  .textContentContainer {
    gap: 8rem;
  }
}

@media (min-width: 700px) and (max-width: 1001px) and (max-height: 701px) {
  .primaryHeading {
    padding-top: 10rem;
  }
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-1) 0%,
        var(--color-home-gradient-2) 65%,
        var(--color-home-gradient-3) 66%,
        var(--color-home-gradient-4) 67%,
        var(--color-home-gradient-5) 100%
      ),
      url('../../Assets/img/HomePage/HomePageImage720p.png');
    background-position: 90% 100%;
  }
  .textContentContainer {
    gap: 8rem;
  }
}

@media (min-width: 400px) and (max-width: 701px) and (max-height: 701px) {
  .primaryHeading {
    padding-top: 5rem;
    font-size: 8rem;
    text-align: center;
  }
  .bg {
    background-image: linear-gradient(
        to right,
        var(--color-home-gradient-simple),
        var(--color-home-gradient-simple)
      ),
      url('../../Assets/img/HomePage/HomePageImage720p.png');
    background-position: 90% 100%;
  }
  .textContentContainer {
    gap: 8rem;
    align-items: center;
    margin: auto;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feature {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
      width: 0.4rem;
      height: 100%;
      border-radius: 0%;
      background-color: var(--color-accent-1);
    }
  }
}
@media (max-width: 401px) and (max-height: 701px) {
  .homepage {
    min-height: calc(100vh - 10rem);
  }
  .primaryHeading {
    padding-top: 5rem;
    font-size: 6rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 5rem;
  }
  .bg {
    min-height: calc(100vh - 10rem);
    background-image: url('../../Assets/img/HomePage/HomePageMobiles.png');
    background-position: bottom;
    background-position: 90% 100%;
  }
  .textContentContainer {
    min-height: calc(100vh - 10rem);
    gap: 1rem;
    align-items: flex-start;
    margin: auto;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 1rem;
  }
  .paragraph {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .featuresList {
    list-style: none;
    color: var(--color-dark-text);
    font-size: 2rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .feature {
    transform: translateX(3%);
    &::after {
      content: '';
      position: absolute;
      // top: 50%;
      left: -2%;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--color-accent-1);
    }
  }
  .projectsBtn,
  .projectsBtn:link,
  .projectsBtn:visited {
    margin: 5rem 0 0rem 0;
    font-size: 2rem;
  }
}
