.iconsContainer {
  display: grid;
  grid-template-areas:
    'a b'
    'c c';

  gap: 1rem;
  align-items: center;
}

.icon {
  width: 4rem;
}
.react {
  grid-area: a;
}
.router {
  grid-area: b;
}
.redux {
  grid-area: c;
  align-self: end;
  justify-self: center;
}
