.customLink,
customLink:link,
customLink:visited {
  display: inline-block;
  // min-width: 21rem;
  // text-align: center;
  font-family: inherit;
  color: var(--color-whitish-text);
  font-size: 2rem;
  text-decoration: none;
  background-color: var(--color-customLink-default);
  padding: 1.2rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: all 0.3s;

  &:hover {
    background-color: hsl(0, 0%, 100%);
    color: black;
    border: 2px solid black;
    transform: translateY(-0.4rem);
    box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.308);
  }
}

.customLink.dark {
  background-color: var(--color-customLink-dark);
  color: var(--color-whitish-text);
  border: 2px solid transparent;
  &:hover {
    background-color: hsl(0, 0%, 100%);
    color: var(--color-dark-text);
    border: 2px solid black;
  }
}
.customLink.darkBG {
  background-color: var(--color-customLink-light);
  color: var(--color-whitish-text);
  border: 2px solid transparent;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: var(--color-dark-text);
    border: 2px solid black;
    // border: 2px solid transparent;
  }
}
.customLink.darkBG.dark {
  background-color: var(--color-customLink-dark);
  color: var(--color-whitish-text);
  &:hover {
    background-color: hsl(0, 0%, 100%);
    color: var(----color-dark-text);
    border: 2px solid black;
    // border: 2px solid transparent;
  }
}
