@mixin shrinkLabel {
  font-size: 1.6rem;
  transform: translateY(-190%);
}

.bg {
  position: relative;
  overflow: hidden;
  &::after {
    z-index: -1;
    bottom: -40%;
    right: -20%;
    content: '';
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.767);
    width: 130rem;
    height: 130rem;
    border-radius: 50%;
  }
}

.contactPage {
  width: 90%;
  right: -10%;
  // border: 1px solid red;
  min-height: calc(100vh - 6rem);
  position: relative;
  padding-top: 5rem;
}

.contactMeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftArea {
  // border: 1px solid red;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;

  h2 {
    font-size: 2.4rem;
    color: var(--color-light-text);
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .paragraph {
    font-weight: 300;
    color: var(--color-dark-text);
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .colored {
    color: var(--color-accent-1);
    font-weight: bold;
    text-decoration: none;
  }
}

.rightArea {
  width: 100%;
  // border: 1px solid red;
  min-height: calc(100vh - 6rem - 7.5rem - 5rem);
  position: relative;

  .github {
    position: absolute;
    top: 0;
    left: 60%;
  }
  .mail {
    position: absolute;
    top: 15%;
    left: 25%;
  }
  .whatsapp {
    position: absolute;
    top: 30%;
    left: 10%;
  }
  .telegram {
    position: absolute;
    top: 50%;
    left: 3%;
  }
  .linkedIn {
    position: absolute;
    top: 70%;
    left: 1%;
  }
}
