@mixin shrinkLabel {
  font-size: 1.6rem;
  transform: translateY(-190%);
}

.bg {
  position: relative;
  overflow: hidden;
}

.contactPage {
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 6rem);
  padding-top: 5rem;

  @media (min-width: 1350px) and (max-width: 1901px) {
    width: 90%;
  }
}

.leftArea {
  // border: 1px solid red;
  width: 70%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  // border: 1px solid blue;
  @media (min-width: 1600px) and (max-width: 1901px) {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  @media (min-width: 1350px) and (max-width: 1601px) {
    padding-bottom: 2rem;
    padding-top: 3rem;
  }

  h2 {
    font-size: 2.4rem;
    color: var(--color-light-text);
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .paragraph {
    font-weight: 300;
    color: var(--color-dark-text);
    font-size: 2rem;
    margin-bottom: 5rem;

    @media (min-width: 1350px) and (max-width: 1901px) {
      margin-bottom: 3rem;
    }
  }

  .colored {
    color: var(--color-accent-1);
    font-weight: bold;
    text-decoration: none;
  }
}

.rightOverflow {
  min-height: calc(100vh - 6rem);
  position: relative;
  top: 0%;
  left: 0%;
  // border: 1px solid blue;
  width: 100%;
  overflow: hidden;
  // border: 1px solid red;
}

.rightArea {
  width: 100%;
  // border: 1px solid red;
  height: 140vh;
  width: 140vh;
  position: absolute;
  right: -25%;
  top: 6%;
  border-radius: 50%;
  // border: 1px solid red;
  &::after {
    z-index: -1;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.767);
    width: 85%;
    height: 85%;
    border-radius: 50%;
  }

  .github {
    position: absolute;
    top: 3%;
    left: 40%;
  }
  .mail {
    position: absolute;
    top: 9%;
    left: 23%;
  }
  .whatsapp {
    position: absolute;
    top: 21%;
    left: 10.8%;
  }
  .telegram {
    position: absolute;
    top: 36%;
    left: 4.7%;
  }
  .linkedIn {
    position: absolute;
    top: 51%;
    left: 4%;
  }
}
