@mixin shrinkLabel {
  font-size: 1.6rem;
  transform: translateY(-190%);
}

.bg {
  position: relative;
  overflow: hidden;
}

.pageBorderOverflowContainer {
  min-height: calc(100vh - 6rem);
  position: relative;
  top: 0%;
  left: 0%;
  // border: 1px solid blue;
  width: 100%;
  overflow: hidden;
}

.contactPage {
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 6rem);
  padding-top: 5rem;
  // border: 1px solid blue;
  @media (min-width: 150px) and (max-width: 1901px) {
    width: 90%;
  }
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftArea {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;

  h2 {
    font-size: 2.4rem;
    color: var(--color-light-text);
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .paragraph {
    font-weight: 300;
    color: var(--color-dark-text);
    font-size: 2rem;
    margin-bottom: 5rem;

    @media (min-width: 1350px) and (max-width: 1901px) {
      margin-bottom: 3rem;
    }
  }

  .colored {
    color: var(--color-accent-1);
    font-weight: bold;
    text-decoration: none;
  }
}

.rightArea {
  height: 140vh;
  width: 140vh;
  position: absolute;
  right: -25%;
  top: 6%;
  border-radius: 50%;

  &::after {
    z-index: -1;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.767);
    width: 85%;
    height: 85%;
    border-radius: 50%;
  }

  .github {
    position: absolute;
    top: 3%;
    left: 40.5%;
  }
  .mail {
    position: absolute;
    top: 9%;
    left: 23%;
  }
  .whatsapp {
    position: absolute;
    top: 21%;
    left: 10.8%;
  }
  .telegram {
    position: absolute;
    top: 36%;
    left: 4.7%;
  }
  .linkedIn {
    position: absolute;
    top: 51%;
    left: 4%;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// medias for 2k displays
@media (min-width: 1900px) and (min-height: 1000px) {
}

@media (min-width: 1600px) and (max-width: 1901px) and (min-height: 1000px) {
}

@media (min-width: 1350px) and (max-width: 1601px) and (min-height: 1000px) {
  .rightArea {
    pointer-events: none;
    right: -45%;
    & > * > * {
      pointer-events: all;
    }
  }
}
@media (min-width: 1000px) and (max-width: 1351px) and (min-height: 1000px) {
  .rightArea {
    // new relative  styles
    position: fixed;
    pointer-events: all;
    height: 77%;
    width: 50%;
    left: 94%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.787);
    transition: all 0.3s;
    &:hover {
      left: 85%;
      &::after {
        color: transparent;
      }

      & > * {
        margin-left: 0rem;
      }
    }

    & > * {
      padding: 1rem;
      margin-left: 8rem;
      transition: all 0.3s;
    }
    &::after {
      pointer-events: none;
      transition: all 0.2s;
      left: -2rem;
      top: 50%;
      background-color: transparent;
      width: 20%;
      height: 50%;
      content: 'HOVER OVER';
      color: white;
      font-size: 2rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      z-index: 10;
      text-align: center;
    }
    .github {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .mail {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .whatsapp {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .telegram {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .linkedIn {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
  }
}

@media (min-width: 600px) and (max-width: 1001px) and (min-height: 1000px) {
  .rightArea {
    // new relative  styles
    position: fixed;
    pointer-events: all;
    height: 77%;
    width: 67%;
    left: 91%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.787);
    transition: all 0.3s;
    &:hover {
      left: 83%;
      &::after {
        color: transparent;
      }

      & > * {
        margin-left: 0rem;
      }
    }

    & > * {
      padding: 1rem;
      margin-left: 9rem;
      transition: all 0.3s;
    }
    &::after {
      pointer-events: none;
      transition: all 0.2s;
      left: -2rem;
      top: 50%;
      background-color: transparent;
      width: 20%;
      height: 50%;
      content: 'HOVER OVER';
      color: white;
      font-size: 2rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      z-index: 10;
      text-align: center;
    }
    .github {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .mail {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .whatsapp {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .telegram {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .linkedIn {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
  }
}

@media (min-width: 150px) and (max-width: 601px) and (min-height: 1000px) {
  .rightArea {
    display: none;
  }
}
@media (min-width: 150px) and (max-width: 650px) and (min-height: 1000px) {
  .pageBorderOverflowContainer {
    min-height: calc(100vh - 10rem);
  }
  .contactPage {
    min-height: calc(100vh - 10rem);
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// medias for 1080p displays

@media (min-width: 1350px) and (max-width: 1601px) and (min-height: 700px) and (max-height: 1001px) {
  .rightArea {
    pointer-events: none;

    right: -40%;
    & > * > * {
      pointer-events: all;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1351px) and (min-height: 700px) and (max-height: 1001px) {
  .rightArea {
    // new relative  styles
    position: relative;
    pointer-events: all;
    height: 100%;
    width: 70%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.787);
    transition: all 0.3s;
    &:hover {
      left: 25%;
      &::after {
        color: transparent;
      }

      & > * {
        margin-left: 0rem;
      }
    }

    & > * {
      padding: 1rem;
      margin-left: 8rem;
      transition: all 0.3s;
    }
    &::after {
      margin: 0;
      padding: 0;
      pointer-events: none;
      transition: all 0.2s;
      left: 0;
      top: 50%;
      background-color: transparent;
      width: 20%;
      height: 50%;
      content: 'HOVER OVER';
      color: white;
      font-size: 2rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      z-index: 10;
      text-align: center;
    }
    .github {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .mail {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .whatsapp {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .telegram {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .linkedIn {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
  }
}

@media (min-width: 600px) and (max-width: 1001px) and (min-height: 700px) and (max-height: 1001px) {
  .rightArea {
    // new relative  styles
    position: fixed;
    pointer-events: all;
    height: 77%;
    width: 50%;
    left: 92%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.787);
    transition: all 0.3s;
    &:hover {
      left: 85%;
      &::after {
        color: transparent;
      }

      & > * {
        margin-left: 0rem;
      }
    }

    & > * {
      padding: 1rem;
      margin-left: 8rem;
      transition: all 0.3s;
    }
    &::after {
      margin: 0;
      padding: 0;
      pointer-events: none;
      transition: all 0.2s;
      left: 0;
      top: 50%;
      background-color: transparent;
      width: 20%;
      height: 50%;
      content: 'HOVER OVER';
      color: white;
      font-size: 2rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      z-index: 10;
      text-align: center;
    }
    .github {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .mail {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .whatsapp {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .telegram {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .linkedIn {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
  }
}

@media (min-width: 150px) and (max-width: 601px) and (min-height: 700px) and (max-height: 1001px) {
  .rightArea {
    display: none;
  }
}

@media (min-width: 150px) and (max-width: 650px) and (min-height: 700px) and (max-height: 1001px) {
  .pageBorderOverflowContainer {
    min-height: calc(100vh - 10rem);
  }
  .contactPage {
    min-height: calc(100vh - 10rem);
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// medias for 720p displays

@media (min-width: 1900px) and (max-height: 701px) {
  .rightArea {
    left: 70%;
  }
}

@media (min-width: 1600px) and (max-width: 1901px) and (max-height: 701px) {
  .rightArea {
    left: 70%;
  }
}

@media (min-width: 1350px) and (max-width: 1601px) and (max-height: 701px) {
  .leftArea {
    padding-top: 2rem;
  }
}

@media (max-width: 1351px) and (max-height: 701px) {
  .rightArea {
    // new relative  styles
    position: fixed;
    pointer-events: all;
    height: 81%;
    width: 50%;
    left: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.787);
    transition: all 0.3s;
    &:hover {
      left: 85%;
      &::after {
        color: transparent;
      }

      & > * {
        margin-left: 0rem;
      }
    }

    & > * {
      padding: 1rem;
      margin-left: 8rem;
      transition: all 0.3s;
    }
    &::after {
      margin: 0;
      padding: 0;
      pointer-events: none;
      transition: all 0.2s;
      left: -3%;
      top: 50%;
      background-color: transparent;
      width: 20%;
      height: 50%;
      content: 'HOVER OVER';
      color: white;
      font-size: 2rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      z-index: 10;
      text-align: center;
    }
    .github {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .mail {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .whatsapp {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .telegram {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
    .linkedIn {
      transform: scale(0.85);
      top: unset;
      left: unset;
      position: relative;
    }
  }
}

@media (max-width: 701px) and (max-height: 701px) {
  .rightArea {
    left: 93%;

    &::after {
      left: -1%;
    }
  }
}

@media (max-width: 550px) and (max-height: 701px) {
  .rightArea {
    display: none;
  }
}
@media (min-width: 150px) and (max-width: 650px) and (max-height: 701px) {
  .pageBorderOverflowContainer {
    min-height: calc(100vh - 10rem);
  }
  .contactPage {
    min-height: calc(100vh - 10rem);
  }
}
